In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
% matplotlib inline

In [20]:
df = pd.read_csv('player_attributes-2.csv', encoding = "ISO-8859-1")
df.head()

              Name          Position Birth_Date  Height Weight
0     Pete Babando                LW  5/10/1925  5-9 ft  187lb
1  Sergei Babariko  G\r\n</p>\r\n<p>        NaN     NaN    NaN
2    Anton Babchuk              D     5/6/1984  6-5 ft  200lb
3    Bobby Babcock              D     8/3/1968  6-1 ft  222lb
4      Warren Babe             LW     9/7/1968  6-2 ft  190lb

In [28]:
df['Position'] = df['Position'].map(str)

In [38]:
df['Position'] = df['Position'].str.replace("\s+.*", "")

In [40]:
df = pd.read_csv('player_attributes-2.csv', encoding = "ISO-8859-1")

In [44]:
df.to_pickle("Player_Attributes.pkl")

In [47]:
df['Height'] = df['Height'].str.replace("ft", "")
df['Weight'] = df['Weight'].str.replace("lb", "")
df.head()

              Name Position Birth_Date Height Weight
0     Pete Babando       LW  5/10/1925   5-9     187
1  Sergei Babariko        G        NaN    NaN    NaN
2    Anton Babchuk        D   5/6/1984   6-5     200
3    Bobby Babcock        D   8/3/1968   6-1     222
4      Warren Babe       LW   9/7/1968   6-2     190

In [51]:
df['Height'] = df['Height'] + "ft"

In [54]:
df.to_csv("Player_Attributes.csv", index=False)